.main-accesorios {
    .cards {
        display: grid;
        padding: 30px;
        grid-template-columns: auto;

        .card {
            border-radius: 0;

            .precio {
                margin: 10px;
            }

            a {
                display: block;
                width: 110px;
                margin: 10px;
            }

            &:hover {
                box-shadow: 5px 5px;
                transition-duration: 0.3s;
            }
        }

        img {
            padding: 20px;
        }
    }
}
