.main-ropa{
    .ropa-cards{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        justify-items: center;

        .card{
            margin: 5px;

            .precio-flex{
                display: flex;
                justify-content: space-between;
            }
        }

        .cardAltura{
            max-height: 13rem;
        }
    }
}