.main-suplementos {
    .cards {
        display: flex;
        justify-content: space-evenly;
        padding: 30px;

        .card {
            border-radius: 0;

            .precio{
                margin: 10px;
            }

            button{
                display: block;
                width: 110px;
                margin: 10px;
            }

            &:hover {
                box-shadow: 5px 5px;
                transition-duration: 0.3s;
            }
        }

        img {
            padding: 20px;
        }
    }
    .tablaCarrito{
        padding: 20px;
        border: 2px solid rgb(48, 46, 46);
    }
}